## ETL_ MOVIES
TRANSFORMACIONES: 
- Algunos campos, como **belongs_to_collection**, **production_companies** y otros (ver diccionario de datos) están anidados, esto es o bien tienen un diccionario o una lista como valores en cada fila, ¡deberán desanidarlos para poder y unirlos al dataset de nuevo hacer alguna de las consultas de la API! O bien buscar la manera de acceder a esos datos sin desanidarlos.<P>

- Los valores nulos de los campos **revenue**, **budget** deben ser rellenados por el número 0.<P>

- Los valores nulos del campo **release date** deben eliminarse.<P>
 
- De haber fechas, deberán tener el formato AAAA-mm-dd, además deberán crear la columna **release_year** donde extraerán el año de la fecha de estreno. <P>

- Crear la columna con el retorno de inversión, llamada **return** con los campos **revenue** y **budget**, dividiendo estas dos últimas **revenue** / **budget**, cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0. <P>

- Eliminar las columnas que no serán utilizadas, **video**,**imdb_id**,**adult**,**original_title**,**poster_path** y **homepage**. <P>

In [91]:
import numpy as np
import pandas as pd
from pandas import json_normalize
import ast
import sys
import os

# Agrega el directorio superior al path
sys.path.append(os.path.abspath(".."))

from funciones.desanidar_concatena import desanidar_concat
from funciones.reordena_col import reordena_colum

### 0. Carga de los datos

In [37]:
movie_test  = pd.read_csv('../datasets_original/movies_dataset.csv', sep=',',quotechar='"', encoding='utf-8' )

C:\Users\Angelica\AppData\Local\Temp\ipykernel_25040\63210814.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movie_test  = pd.read_csv('../datasets_original/movies_dataset.csv', sep=',',quotechar='"', encoding='utf-8' )

In [38]:
print(movie_test.shape)

(45466, 24)

Copia del dataset para aplicar las transformaciones

In [39]:
movie_test_df = movie_test.copy()

In [40]:
movie_test_df.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

### 1. TRANSFORMACION - Eliminación columnas

**Desanidamiento columnas**

In [42]:
def desanidar_concat(df, col):
    # Convertir cadenas de texto en listas/diccionarios si es necesario
    df[col] = df[col].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
    
    # Explode para listas de diccionarios o manejar diccionarios directamente
    if df[col].apply(lambda x: isinstance(x,list)).any(): 
        col_norm = pd.json_normalize(df[col].explode().dropna()).reset_index(drop=True)
    else: # para diccionarios
        col_norm = pd.json_normalize(df[col].dropna()).reset_index(drop=True)
    
    # Rename las nuevas columnas
    col_norm = col_norm.add_suffix(f'_{col}')

    #Elimina columna original, agrega columnas nuevas al dataframe
    #df = pd.concat([df.drop(columns=[col]) , col_norm], axis=1)
    new_df= df.drop(columns=col).join(col_norm)

    return new_df

In [43]:
for columna in ['belongs_to_collection','genres', 'production_companies', 'production_countries', 'spoken_languages']:
   movie_test_df = desanidar_concat(movie_test_df, columna)

In [45]:
print(len(movie_test.columns))
print(len(movie_test_df.columns))

24
31

**VALORES NULOS A '0'**
COLUMNAS:
- budget
- revenue
  
Conversión a enteros y valores nulos seteados con '0'
- pd.to_numeric   : convierte los valores de la columna, maneja errores 'coerce' (lo paso a nan)
- fillna(0)       : valores nan a 0
- astype('Int64') : valores enteros

In [46]:
movie_test_df["budget"]= pd.to_numeric(movie_test_df["budget"], errors='coerce').fillna(0).astype('Int64')
movie_test_df["revenue"]= pd.to_numeric(movie_test_df["revenue"], errors= 'coerce').fillna(0).astype('Int64')

In [47]:
#Se verifica cambios
print(type(movie_test["budget"][0]))
print(type(movie_test_df["budget"][0]))

print(type(movie_test["revenue"][0]))
print(type(movie_test_df["revenue"][0]))

<class 'str'>
<class 'numpy.int64'>
<class 'numpy.float64'>
<class 'numpy.int64'>

**COLUMNA RETURN**

return = revenue/budget (recaudacion/presupuesto)

In [48]:
movie_test_df["return"] = movie_test_df.apply(
                        lambda fila: round( fila['revenue']/fila['budget'], 2) if fila['budget']!= 0  else 0, axis = 1)

* ELIMINACIÓN VALORES NULOS 'release date' <p>
* COLUMNA RELEASE_YEAR

- Pasar de string a formato datetime (AAAA-mm-dd)
- Obtiene la columna release_year, a formato Int
- Se elimina las filas donde haya valores nulos en 'release_date'

In [ ]:
movie_test_df["release_date"] = pd.to_datetime(movie_test_df["release_date"], errors= 'coerce', format='%Y-%m-%d')
movie_test_df["release_year"] = movie_test_df["release_date"].dt.year.astype('Int64')

movie_test_df = movie_test_df.dropna(subset= 'release_date')

movie_test_df[['release_date','release_year']].head(5)

  release_date  release_year
0   1995-10-30          1995
1   1995-12-15          1995
2   1995-12-22          1995
3   1995-12-22          1995
4   1995-02-10          1995

Comprobacion de eliminación de valores nulos

In [55]:
print(movie_test["release_date"].isnull().sum())
print(movie_test_df["release_date"].isnull().sum())
print(movie_test_df["release_year"].isnull().sum())

87
0
0

COLUMNAS a eliminar:

Se analiza valores nulos en cada columna

In [54]:
nulos = movie_test_df.isnull().sum()
print(nulos )

adult                                      0
budget                                     0
homepage                               37610
id                                         0
imdb_id                                   14
original_language                         11
original_title                             0
overview                                 941
popularity                                 0
poster_path                              339
release_date                               0
revenue                                    0
runtime                                  246
status                                    80
tagline                                24978
title                                      0
video                                      0
vote_average                               0
vote_count                                 0
id_belongs_to_collection               40889
name_belongs_to_collection             40889
poster_path_belongs_to_collection      41432
backdrop_path_belongs_to_collection    42117
id_genres                                  0
name_genres                                0
name_production_companies                  1
id_production_companies                    1
iso_3166_1_production_countries            3
name_production_countries                  3
iso_639_1_spoken_languages                 0
name_spoken_languages                      0
return                                     0
release_year                               0
dtype: int64

- Columnas a elimniar_ video, imdb_id, adult, original_title, poster_path y homepage.
- Columna status, se va a eliminar despues de filtrar las peliculas released
- Columnas que no se van a usar en analisis o funciones: belongs_to_collection,

In [ ]:
movie_test_df[movie_test_df['status']=='released']

In [58]:
columnas = [ 'video', 'imdb_id', 'adult', 'original_title', 'poster_path' , 'homepage','status' , 'tagline', 'id_belongs_to_collection', 
            'name_belongs_to_collection',
       'poster_path_belongs_to_collection',
       'backdrop_path_belongs_to_collection', 'name_production_companies', 'id_production_companies', 'name_production_countries',
       'iso_3166_1_production_countries','iso_639_1_spoken_languages', 'name_spoken_languages']


movie_test_df = movie_test_df.drop(columnas, axis=1)

In [59]:
movie_test_df.head(1)

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,title,vote_average,vote_count,id_genres,name_genres,return,release_year
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033,81.0,Toy Story,7.7,5415.0,16,Animation,12.45,1995

**VALORES NULOS**

In [60]:
nulos = movie_test_df.isnull().sum()
print(nulos )

budget                 0
id                     0
original_language     11
overview             941
popularity             0
release_date           0
revenue                0
runtime              246
title                  0
vote_average           0
vote_count             0
id_genres              0
name_genres            0
return                 0
release_year           0
dtype: int64

In [62]:
# Eliminacion de filas por valores nulos 
movie_test_df = movie_test_df.dropna(subset=['overview','original_language' ,'runtime'])

Comparación dataset original vs ETL(dataset)

In [64]:
print(movie_test.shape)
print(movie_test_df.shape)

(45466, 24)
(44425, 15)

### CAMBIAR NOMBRE y TIPO DATOS (string => int, float, etc)

In [73]:
columnas = movie_test_df.columns.tolist()
for i in columnas:
    print(f'Tipo de dato de {i}:            { type(movie_test_df[i][0]) }')

Tipo de dato de budget:            <class 'numpy.int64'>
Tipo de dato de id:            <class 'str'>
Tipo de dato de original_language:            <class 'str'>
Tipo de dato de overview:            <class 'str'>
Tipo de dato de popularity:            <class 'float'>
Tipo de dato de release_date:            <class 'pandas._libs.tslibs.timestamps.Timestamp'>
Tipo de dato de revenue:            <class 'numpy.int64'>
Tipo de dato de runtime:            <class 'numpy.float64'>
Tipo de dato de title:            <class 'str'>
Tipo de dato de vote_average:            <class 'numpy.float64'>
Tipo de dato de vote_count:            <class 'numpy.float64'>
Tipo de dato de id_genres:            <class 'numpy.int64'>
Tipo de dato de name_genres:            <class 'str'>
Tipo de dato de return:            <class 'numpy.float64'>
Tipo de dato de release_year:            <class 'numpy.int64'>

Cambiar tipo de datos
- id           (str => int)
- runtime      (float => int)
- vote_count   (float => int)
- popularity  a 2 decimales

In [ ]:
movie_test_df["id"] = movie_test_df["id"].astype('Int64')
movie_test_df["runtime"] = movie_test_df["runtime"].astype('Int64')
movie_test_df["vote_count"] = movie_test_df["vote_count"].astype('Int64')

movie_test_df["popularity"] = movie_test_df["popularity"].astype(float)
movie_test_df["popularity"] = movie_test_df["popularity"].round(2)

In [80]:
movie_test_df.head(1)

,budget,id_movie,original_language,overview,popularity,release_date,revenue,runtime,title,vote_average,vote_count,id_genres,name_genres,return,release_year
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.95,1995-10-30,373554033,81,Toy Story,7.7,5415,16,Animation,12.45,1995

Cambiar nombres a columnas:

In [79]:
movie_test_df  =movie_test_df.rename( {'id':'id_movie'} , axis=1)

### VERIFICACIÓN IDENTIFICADORES UNICOS

Cantidad de valores duplicados, luego de aparcer por segunda vez <p>
Identificador único: 'id'

In [85]:
duplicados= movie_test_df[movie_test_df["id_movie"].duplicated()]
print(f'Hay {len(duplicados)} id_movies duplicados')

Hay 30 id_movies duplicados

Eliminación de valores duplicados de la columna 'id_movie'

In [86]:
# keep='first' se mantiene el id original, y se elimina el duplicado
movie_test_df.drop_duplicates(subset='id_movie', keep='first', inplace=True)

Se verifica que ya no existen valores duplicados

In [87]:
duplicados2= movie_test_df[movie_test_df["id_movie"].duplicated()]
print(len(duplicados2))
duplicados2

0

Empty DataFrame
Columns: [budget, id_movie, original_language, overview, popularity, release_date, revenue, runtime, title, vote_average, vote_count, id_genres, name_genres, return, release_year]
Index: []

Se genera tabla externa generos

In [89]:
genres = movie_test_df[['id_genres', 'name_genres']].drop_duplicates().reset_index(drop=True)
movies = movie_test_df.drop(columns=['name_genres'])
genres

    id_genres                       name_genres
0          16                         Animation
1          35                            Comedy
2       10751                            Family
3          12                         Adventure
4          14                           Fantasy
5       10749                           Romance
6          18                             Drama
7          28                            Action
8          80                             Crime
9          53                          Thriller
10         36                           History
11        878                   Science Fiction
12       9648                           Mystery
13      10752                               War
14      10769                           Foreign
15      10402                             Music
16         27                            Horror
17         99                       Documentary
18         37                           Western
19      10770                          TV Movie
20      11176              Carousel Productions
21      29812  Telescene Film Group Productions

In [92]:
# Cambio del orden 'id_movie'
movie_test_df= reordena_colum(movie_test_df, 'id_movie', 0)

### CAMBIOS PARA FUNCIONES API

In [93]:
movie_test_df.head(10)

,id_movie,budget,original_language,overview,popularity,release_date,revenue,runtime,title,vote_average,vote_count,id_genres,name_genres,return,release_year
0,862,30000000,en,"Led by Woody, Andy's toys live happily in his ...",21.95,1995-10-30,373554033,81,Toy Story,7.7,5415,16,Animation,12.45,1995
1,8844,65000000,en,When siblings Judy and Peter discover an encha...,17.02,1995-12-15,262797249,104,Jumanji,6.9,2413,35,Comedy,4.04,1995
2,15602,0,en,A family wedding reignites the ancient feud be...,11.71,1995-12-22,0,101,Grumpier Old Men,6.5,92,10751,Family,0.00,1995
3,31357,16000000,en,"Cheated on, mistreated and stepped on, the wom...",3.86,1995-12-22,81452156,127,Waiting to Exhale,6.1,34,12,Adventure,5.09,1995
4,11862,0,en,Just when George Banks has recovered from his ...,8.39,1995-02-10,76578911,106,Father of the Bride Part II,5.7,173,14,Fantasy,0.00,1995
5,949,60000000,en,"Obsessive master thief, Neil McCauley leads a ...",17.92,1995-12-15,187436818,170,Heat,7.7,1886,10751,Family,3.12,1995
6,11860,58000000,en,An ugly duckling having undergone a remarkable...,6.68,1995-12-15,0,127,Sabrina,6.2,141,10749,Romance,0.00,1995
7,45325,0,en,"A mischievous young boy, Tom Sawyer, witnesses...",2.56,1995-12-22,0,97,Tom and Huck,5.4,45,35,Comedy,0.00,1995
8,9091,35000000,en,International action superstar Jean Claude Van...,5.23,1995-12-22,64350171,106,Sudden Death,5.5,174,35,Comedy,1.84,1995
9,710,58000000,en,James Bond must unmask the mysterious head of ...,14.69,1995-11-16,352194034,130,GoldenEye,6.6,1194,18,Drama,6.07,1995

### EXPORTACIÓN DATASET FINAL

In [94]:
print(movie_test_df.shape)
movie_test_df.info()

(44395, 15)
<class 'pandas.core.frame.DataFrame'>
Index: 44395 entries, 0 to 45465
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_movie           44395 non-null  Int64
 1   budget             44395 non-null  Int64
 2   original_language  44395 non-null  object
 3   overview           44395 non-null  object
 4   popularity         44395 non-null  float64
 5   release_date       44395 non-null  datetime64[ns]
 6   revenue            44395 non-null  Int64
 7   runtime            44395 non-null  Int64
 8   title              44395 non-null  object
 9   vote_average       44395 non-null  float64
 10  vote_count         44395 non-null  Int64
 11  id_genres          44395 non-null  int64
 12  name_genres        44395 non-null  object
 13  return             44395 non-null  float64
 14  release_year       44395 non-null  Int64
dtypes: Int64(6), datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 5.7+ MB

In [96]:
movie_test_df.to_parquet('../datasets/movie_dataset_final.parquet', engine='pyarrow')